
<div class="centrado bg-home emblemaPosition" >
<img class="emblema" src="../images/emblema.png" alt="">
    <h1 class="title-home">Welcome to Clash Royale <br> Profile App</h1>
<div class="centrado listaChest">
    <h6 class="center shadow">Coming soon...</h6>
    <img  class="miniP" src="../images/SuperMiniPEKKACard.png" alt="">
</div>
</div>
