@font-face {
  font-family: 'ClashRoyale';
  src: url('../fonts/YouBlockhead.ttf');
}

* {
  color: #fff;
  text-shadow: 3px 3px rgb(0, 0, 0);

}
body {
  padding: 50px;
  font-family: 'ClashRoyale' !important ;
  font-size: 10px !important;

  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
}
.img {
  width: 150px;
}
a {
  color: #00b7ff;
}

.error {
  color: red;
}

.background {
  background: url("../images/background.png");
}
.backgroundNav {
  background: url("../images/backgroundNav.png");
  border-radius: 10px;
}
.bg-home {
  background: url("../images/landing-decks.png");
  background-size: cover;
  background-position-y: top;
  background-repeat: no-repeat;
  border-radius: 20px;
  margin-top: 35px;
  width: 100%;
  height: 620px;
}
.navbar-nav li{
  font-size: 14px;;
}
.nav-item a:hover{
  color: #df9405 !important;
}
.gold:hover{
  color: #df9405 !important;

}
.between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.git{
  
  gap: 50px;
}
.git a {
  text-decoration: none;
color: #df9405;
font-size: 14px;
margin-right: 30px;
}
.git a:hover{
  color: #fff;
}
.title-home{
  text-align: center;
  color: #df9405;
  text-shadow: 5px 3px rgb(0, 0, 0);
}
.imgNav {
  position: absolute;
  width: 9em;
}
.espacio {
  margin-left: 200px;
}
.nameProfile {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#userTagInfo {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#deck {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
}
.center {
  text-align: center;
}
#deck .card {
  padding: 0;
  background: rgba(0, 0, 0, 0);
  border: none;
  text-align: center;
  box-shadow: none;
}
.disFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
#favorite {
  display: flex;
  flex-wrap: wrap;
}
#favoriteCards {
  background: rgba(0, 0, 0, 0);
  width: 20%;
  border: none;
  box-shadow: none;
}
.centrado {
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
}
.member {
  color: black;
}
.bg-login-signup {
  background: url("../images/login-signup.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 600px;
  border-radius: 20px;
}

.gif-error {
  position: absolute;
  margin-left: 300px;
}

.marginUpdate {
  margin-top: 50px;
}
.listaChest {
  flex-direction: column;
}
.buttonBackground {
  background: url("../images/backgroundNav.png");
}
.register{
  text-decoration: none;  
}
.emblema{
  width: 300px;

}
.emblemaPosition{
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 20px;
  gap: 50px;
}
.miniP{
  width: 115px;
  margin-top: 10px;
}
.shadow{
  text-shadow: 5px 3px rgb(0, 0, 0);

}
.text-none {
  text-shadow: none;
}